<h1>Movie Search!</h1>
<h3>Search through omdbapi's open database!</h3>

<form method="get" action="../movies/results">
  <div class="form-group">
    <label for="title">Title</label>
    <input name="t" type="search" class="form-control" id="searchButton" placeholder="eg: Frozen">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>