<form action="/movies/show/" method="POST">
  <legend>Add a Comment!</legend>

  <div class="form-group">

    <label for="">Comment: </label><br>
    <textarea name="comment" placeholder="The movie is..."></textarea>
  </div>



  <button type="submit" class="btn btn-primary">Submit</button>
</form>

