<h1>TAGS PAGE! </h1>
<form method="post" action="/favorites/<%= favoriteId %>/tags"class ="form">
  <div class = "form-group">
  <input type="text" name="tags" class="form-control"></input><br>
  <input type="submit" class ="btn btn-primary" value ="Add Tag">
  </div>
</form>