<% myMovies.forEach(function(result){ %>
<div class="well">
<a href="show/<%= result.imdbID %>">
  <b>Title: </b><%= result.Title %><br> </a>
  <b>Year: </b><%= result.Year %><br>
</div>

<% }); %>





